body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  width: 50%;
}

button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  position: fixed;
  left: 10%;
}

#initialize {
  top: 50px;
}

#disable {
  top: 100px;
}

.block {
  border: 1px solid;
  font-size: 18px;
}

.text {
  padding: 10px;
}

.title {
  height: 50px;
  background-color: lightcyan;
  text-align: center;
  font-size: 28px;
  line-height: 50px;
}

.fix {
  position: fixed;
  top: 0;
  width: 50%;
  /* left: 25%; */
}

.padd {
  padding-top: 60px;
}

.active {
  background-color: lightgreen;
}